<% include ../partials/header.ejs %>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <% include ../partials/navContent.ejs %>
  <img class="img-responsive center-block" src="/images/profile.png" width="750" height="500"></img>
</nav>
