<div class="container">
  <ul class="nav navbar-nav">
    <li>
      <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
    </li>
    <li>
      <a href="/resume"><span class="glyphicon glyphicon-file"></span> R&eacute;sum&eacute;/CV</a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-folder-close"></span> Projects<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/polls">Polls</a></li>
          <li class="divider"></li>
          <li><a href="https://github.com/amckinney">Github Account</a></li>
        </ul>
    </li>
    <li>
      <a href="http://alexmckinney.me"><span class="glyphicon glyphicon-book"></span> Blog</a>
    </li>
  </ul>
</div>
