<% include ../../partials/basicNav.ejs %>
<div ng-app="mainApp" ng-controller="HomeCtrl" align="center">
   <h1>Polls About Page</h1>
   <p>I hope you are enjoying Poll List Application so far!</p>
   <p>This page has been developed with Angular.js and RESTful services.</p>
   <p>I have used three mySQL tables in my design, which are 'Polls', 'Answers', and 'Votes'. I only required one model, named 'Poll'.</p>
   <br>
   <p>If you wish to contact me for questions, please email me at: {{email}}</p>
   <p>Author: {{author}}</p>
   <a class='btn btn-primary btn-sm' href="/polls">Home</a>
</div>
<% include ../../partials/footer.ejs %>
