<% include ../../partials/basicNav.ejs %>
<div ng-app="mainApp" ng-controller="HomeCtrl" align="center">
   <h1>Polls Info</h1>
   <p>I hope you are enjoying my Polls application so far!</p>
   <p>This page has been developed with Angular.js and RESTful services.</p>
   <p>If you wish to contact me for questions, please email me at <b>{{email}}</b></p>
   <a class='btn btn-primary btn-sm' href="/polls">Back to Polls</a>
</div>
<% include ../../partials/footer.ejs %>
