<% include ../partials/homeNav.ejs %>
<div ng-app="mainApp" ng-controller="HomeCtrl">
   <h1>{{author}}</h1>
   <p>Hi! I hope you have found my webpage well.</p>
   <p>This is a personal project I have for improving my web development skills.</p>
   <p>You will find a variety of my projects and more about me by navigating throughout my website.</p>
   <p>If you wish to contact me for questions, please email me at <b>{{email}}</b></p>
<div>
<% include ../partials/footer.ejs %>
